<!--==========================
  About Section
  ============================-->
<section id="about">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">About Us</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Welcome to {{pageTitle}}, here you will find the maritime service you were looking for</p>
      </div>
    </div>
  </div>
  <div class="container about-container wow fadeInUp">
    <div class="row">



      <div class="col-md-6">
        <div class="col-md-12 about-img"></div>

      </div>

      <div class="col-md-6">


        <div class="col-md-12 about-content">


          <h4 class="about-title">Gabarras &amp Servicios began operations in 1981...</h4>
          <p class="about-text">
            when the members of Varadero Isla Verde (administrative concession) of the Port of Algeciras, decided to adapt and transform
            two boats, which then goes offering to the shipping agents of the bay, to perform both personnel and provisions
            delivery and transport to anchored vessels.. Experience with the reform of our boats helps to start a new activity
            as ship repairs workshop.




          </p>
          <p class="about-text ">

            The company growth runs parallel to the development of the Port of Algeciras Bay. Our fleet grows up to 7 boats, the ones
            we have at the moment, we diversify the range of offered services, adding as well as personnel transport and
            provisions supply, the anchors and chains replacement, fresh water supply, being the only company in the Bay
            which offers lube oil transport in nonstructural double hull oil tanks and adding the marine pollution fight
            service, adapting most of our boats for this purpose, with spinnaker poles and barriers on board for an immediate
            reply.


          </p>
          <p class="about-text ">

            Since our establishment until today, we have adapted our business approach to get Gabarras & Servicios a leading company
            and a reference for our competitors. We have created a highly qualified professional team with the best customer
            service dedication as an essential value within our philosophy of working with continued training plans, and
            performing the most modern methods which guarantee agility and control in all our operations.

          </p>

          <blockquote>Currently Gabarras & Servicios is your perfect ally for any transport, ships repair and maintenance service and
            pollution fight in the Algeciras Bay.</blockquote>

        </div>




      </div>



    </div>
  </div>
</section>