<div id="preloader"></div>

<!--==========================
  Hero Section
  ============================-->
<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      {{> header}}
      <div class="hero-logo">
        <img class="" src="public/img/logo.png" alt="{{logoCaption}}">
      </div>
      <h1>{{h1Title}}</h1>
      <h2>
        <span class="rotating">MARITIME SERVICES &amp REPAIRS, OIL SPILLAGE MARITIME RESPONSE</span>
      </h2>
      <div class="actions">
        <a href="#contact" class="btn-get-started ">Contact Us</a>
        <a href="#portfolio" class="btn-services">Services</a>
      </div>





    </div>
  </div>

  <p> {{msg}}</p>
</section>