<!--==========================
  Porfolio Section
  ============================-->
<section id="portfolio">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Services &amp Prices</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Gabarras &amp Services offers a wide range of services thanks to its felixible fleet, from transport of goods and
          passengers and oil supply to fight afains hydrocarbon spills. Check the services and tariffs below: </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="row">
          <a class="portfolio-item" href="#contact">
            <div class="details">
              <h4>Persons, goods and provisions transport</h4>
              <span>
                <p class="portfolio-description">Gabarras &amp Servicios has the necessary capacity and infrastructure to offer solutions for provisions,
                  deck or engine spare parts supply for vessels anchor in the Algeciras Bay or when passing the Strait of
                  Gibraltar, as well as providing people transport services (crew change, workshop staff, superintendents,
                  etc.). That´s why we have both staff and a perfectly adequate fleet.
                </p>
              </span>
            </div>


          </a>

        </div>



      </div>

      <div class="col-xs-12 col-md-12">
        <div class="row">
          <a class="portfolio-item" href="#contact">
            <div class="details">
              <h4>Marpol waste collection</h4>
              <span>
                <p class="portfolio-description">Gabarras y Servicios provides waste collection services from ships (Marpol waste). We have authorization
                  for Marpol I and V Annex of MARPOL 73/78 agreement:
                  <ul>
                    <li>
                      Annex I - Hydrocarbon residues. Inside this annex we can operate waste with flashpoint
                      <60° and>60° according to:
                        <ul>
                          <li>
                            A type: waste generated from vessels or cargo residues from crude oil and ballast water contaminated with crude oil.
                          </li>
                          <li>
                            B type: waste generated from vessels or hydrocarbon cargo residues and ballast water contaminated with petroleum products
                            different from crude oil which density is less than or equal to 1.
                          </li>
                          <li>
                            C type: bilge waste generated from the engine or fuel and oil engine purification equipments.
                          </li>
                          <li>
                            Annex V - Solid waste from ships.
                          </li>
                        </ul>
                    </li>
                  </ul>
                  We have boats adapted to perform this kind of service, also the necessary technical and human procedures.
                </p>
              </span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-md-12">
        <div class="row">
          <a class="portfolio-item" href="#contact">
            <div class="details">
              <h4>Fresh water supply</h4>
              <span>
                <p class="portfolio-description">Our boat Avelina is enabled to transport fresh water. She has pumping elements and tanks treated with ceramic
                  paints with a 190 tons capacity.
                </p>
              </span>
            </div>


          </a>

        </div>



      </div>




      <div class="col-xs-12 col-md-12">
        <div class="row">
          <a class="portfolio-item" href="#contact">
            <div class="details">
              <h4>Lubricants supply</h4>
              <span>
                <p class="portfolio-description">We have 5 barges to supply lube oil to anchored vessels, perfectly enabled with nonstructural double hull
                  tanks for these lubricants safe transport, besides an appropiate pumping group for the transfer, fire equipments
                  and deck crew in case of en emergency pumping equipment stop.
                </p>
              </span>
            </div>


          </a>

        </div>



      </div>

      <div class="col-xs-12 col-md-12">
        <div class="row">
          <a class="portfolio-item" href="#contact">
            <div class="details">
              <h4>Response to marine oil spills</h4>
              <span>
                <p class="portfolio-description">Getting into combating oil spills at sea, Gabarras y Servicios serves both eluding spill risk works (transfers,
                  contaminated hull cleaning, etc.) and quickly actions against spills, too. In order to act fully speed
                  and totally effective in case a spill may occur, we keep the following means:

                  <ul>
                    <li>
                      a 1000 m2 area plant sited in Pol. Ind Cortijo Real, Concordia St, K3 Square, 13 &amp 14 just 10 minutes from port.
                    </li>
                    <li>
                      Boats: Four of them are equipped with Sweeper system (spinnaker pole), skimmer, pumping equipment, absorbent barriers and
                      own tanks with a total capacity of 200 tons and 80 tanks of 1000 l for deck. The other three ones are
                      prepared for mooring and collecting barriers and logistical support.
                    </li>
                    <li>
                      Our ground plant means: Absorbents, restraint booms and hydraulic reels for stowage, skymers, pumping equipments, hydraulic
                      power plants, generators, hydraulic collector barriers, steam boiler for fuel heating, mooring barriers
                      equipments, barriers tide compensators, manual and personal protection equipments.
                    </li>
                    <li>
                      Human Resources: 20 extensive experience workers in real interventions and periodical practices made by the company and supported
                      to specialized courses.


                    </li>
                  </ul>


                </p>
              </span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-md-12">
        <div class="row">
          <a class="portfolio-item" href="#contact">
            <div class="details">
              <h4>Anchors and chains replacement</h4>
              <span>
                <p class="portfolio-description">Since our customers demanded this service, as one of the most common problems suffered by ships are the loss
                  of anchor or anchor & chain set or its replacement due to classification reasons, it made us adapt one
                  our fleet boats for this specific service, with a strings box, cellar type, with a 60 tons capacity in
                  the middle of it. In addition to the adapted boat for this service, we have a highly professional and experienced
                  staff in this work so we get a great satisfaction by customers who have requested it.
                </p>
              </span>
            </div>


          </a>

        </div>



      </div>

      <div class="col-xs-12 col-md-12">
        <div class="row">
          <a class="portfolio-item" href="#contact">
            <div class="details">
              <h4>Maritime services and repairs</h4>
              <span>
                <p class="portfolio-description">What began as a labor of repair, maintenance and adaptation to our own fleet, has become into the mechanical
                  repair and boiler for all of our customers. We reckon with ship repairs workshop with a 900 m2 area, perfectly
                  equipped to tackle machining, boilermaking and mechanic jobs.
                </p>
              </span>
            </div>


          </a>

        </div>



      </div>

      <div class="col-xs-12 col-md-12">
        <div class="row">
          <a class="portfolio-item" href="#contact">
            <div class="details">
              <h4>Vinaches, fire equipment supply and inspection</h4>
              <span>
                <p class="portfolio-description">Gabarras & Servicios has its own fire protection division: the company of our group Vinaches. We perform
                  the supply and inspection (both on board and on land or in our establishment) of extinguishers, fire carriages
                  and other fire methods, with a professional and latest methods trained working staff.
                </p>
              </span>
            </div>


          </a>

        </div>



      </div>



    </div>
  </div>
</section>